<div class="main-content" id="mainContent">
         
  <section class="add-employee">
    <div>
      <h2>Roles</h2>
      <p>All the roles are configured here</p>
    </div>
    <button class="add-btn" onclick="rolesObj.displayAddRoleForm()">
      ADD ROLE
    </button>
  </section>
 

  <section class="filter">
    <div class="filter-options">
      <p>Filter</p>
      <img src="./assets/sort-descending.png" alt="sorting icon" />
      <div>
        <select name="location"></select>
      </div>
      <div>
        <select name="department"></select>
      </div>
    </div>
    <div>
      <button class="reset-btn">Reset</button>
      <button class="apply-btn">Apply</button>
    </div>
  </section>
 

  <section class="cards" id="cardsWrapper"></section>
</div>