<section class="add-employee">
  <div>
    <h2>Roles > Employees</h2>
    <p>All the roles are configured here</p>
  </div>
  <button class="add-btn">ADD EMPLOYEES</button>
</section>

<section class="role-description">
  <h2>Role Description</h2>
  <p>
    Configure the providers that are available to users when they sign in.
    Configure the providers that are available to users when they sign in.
    Configure the providers that are available to users when they sign in.
    Configure the providers that are available to users when they sign in.
  </p>
</section>

<section class="cards">
  <div class="card">
    <div class="image-section">
      <img src="./assets/profiles/image-eight.webp" alt="employee icon" />
      <div>
        <p>Robert Fox</p>
        <p>Head of Product Design</p>
      </div>
    </div>
    <div class="about">
      <div>
        <img src="./assets/id.svg" alt="id icon" />
        <p>INF122</p>
      </div>
      <div>
        <img src="./assets/mail.svg" alt="mail icon" />
        <p>adamk@yahoo.com</p>
      </div>
      <div>
        <img src="./assets/employee.svg" alt="role icon" />
        <p>Technology</p>
      </div>
      <div>
        <img src="./assets/location.svg" alt="location icon" />
        <p>Stockton, New Hampshire</p>
      </div>
    </div>
    <div class="view-detail">
      <p>view</p>
      <img src="./assets/right-arrow.svg" alt="view icon" />
    </div>
  </div>

  <div class="card">
    <div class="image-section">
      <img src="./assets/profiles/image-eleven.webp" alt="employee icon" />
      <div>
        <p>Marvin McKinney</p>
        <p>Head of Engineering</p>
      </div>
    </div>
    <div class="about">
      <div>
        <img src="./assets/id.svg" alt="id icon" />
        <p>INF150</p>
      </div>
      <div>
        <img src="./assets/mail.svg" alt="mail icon" />
        <p>sravani@yahoo.com</p>
      </div>
      <div>
        <img src="./assets/employee.svg" alt="role icon" />
        <p>Admin</p>
      </div>
      <div>
        <img src="./assets/location.svg" alt="location icon" />
        <p>Syracuse, Connecticut</p>
      </div>
    </div>
    <div class="view-detail">
      <p>view</p>
      <img src="./assets/right-arrow.svg" alt="view icon" />
    </div>
  </div>

  <div class="card">
    <div class="image-section">
      <img src="./assets/profiles/image-five.webp" alt="employee icon" />
      <div>
        <p>Eleanor pena</p>
        <p>Senior Interaction Designer</p>
      </div>
    </div>
    <div class="about">
      <div>
        <img src="./assets/id.svg" alt="id icon" />
        <p>INF240</p>
      </div>
      <div>
        <img src="./assets/mail.svg" alt="mail icon" />
        <p>grolschie@yahoo.com</p>
      </div>
      <div>
        <img src="./assets/employee.svg" alt="role icon" />
        <p>Customer Executive</p>
      </div>
      <div>
        <img src="./assets/location.svg" alt="location icon" />
        <p>Portland, lllinois</p>
      </div>
    </div>
    <div class="view-detail">
      <p>view</p>
      <img src="./assets/right-arrow.svg" alt="view icon" />
    </div>
  </div>

  <div class="card">
    <div class="image-section">
      <img src="./assets/profiles/image-eight.webp" alt="employee icon" />
      <div>
        <p>Jane cooper</p>
        <p>Product Analyst</p>
      </div>
    </div>
    <div class="about">
      <div>
        <img src="./assets/id.svg" alt="id icon" />
        <p>INF389</p>
      </div>
      <div>
        <img src="./assets/mail.svg" alt="mail icon" />
        <p>chronos@aol.com</p>
      </div>
      <div>
        <img src="./assets/employee.svg" alt="role icon" />
        <p>Product</p>
      </div>
      <div>
        <img src="./assets/location.svg" alt="location icon" />
        <p>Coppell, Virginia</p>
      </div>
    </div>
    <div class="view-detail">
      <p>view</p>
      <img src="./assets/right-arrow.svg" alt="view icon" />
    </div>
  </div>

  <div class="card">
    <div class="image-section">
      <img src="./assets/profiles/image-eleven.webp" alt="employee icon" />
      <div>
        <p>Floyd Miles</p>
        <p>Visual Designer</p>
      </div>
    </div>
    <div class="about">
      <div>
        <img src="./assets/id.svg" alt="id icon" />
        <p>INF209</p>
      </div>
      <div>
        <img src="./assets/mail.svg" alt="mail icon" />
        <p>dgatwood@msn.com</p>
      </div>
      <div>
        <img src="./assets/employee.svg" alt="role icon" />
        <p>Customer Executive</p>
      </div>
      <div>
        <img src="./assets/location.svg" alt="location icon" />
        <p>Lansing, lllinois</p>
      </div>
    </div>
    <div class="view-detail">
      <p>view</p>
      <img src="./assets/right-arrow.svg" alt="view icon" />
    </div>
  </div>

  <div class="card">
    <div class="image-section">
      <img src="./assets/profiles/image-five.webp" alt="employee icon" />
      <div>
        <p>Dianne Russel</p>
        <p>Full Stack Software Engineeri</p>
      </div>
    </div>
    <div class="about">
      <div>
        <img src="./assets/id.svg" alt="id icon" />
        <p>INF922</p>
      </div>
      <div>
        <img src="./assets/mail.svg" alt="mail icon" />
        <p>kspiteri@live.com</p>
      </div>
      <div>
        <img src="./assets/employee.svg" alt="role icon" />
        <p>Human Research</p>
      </div>
      <div>
        <img src="./assets/location.svg" alt="location icon" />
        <p>Corona, Michigan</p>
      </div>
    </div>
    <div class="view-detail">
      <p>view</p>
      <img src="./assets/right-arrow.svg" alt="view icon" />
    </div>
  </div>
</section>