
<div class="header-search-bar">
  <input type="text" id="searchBar" onkeyup="utilsObj.updateSearchFilter(event)" placeholder="Search (ctrl+/)"/>
</div>
<div class="header-icons">
  <img src="./assets/language.png" alt="language image" />
  <img src="./assets/mode.png" alt="view image" />
  <img src="./assets/theme.png" alt="theme image" />
  <img src="./assets/notification.png" alt="notofications image" />
  <img src="./assets/admin.png" alt="admin image" />
  <div class="user-info">
    <p>John Abraham</p>
    <p class="role">Admin</p>
  </div>
</div>
