@import url(../../dist/styles/common.css);
.active {
  .active-roles {
    margin-top: 1rem;
    background-color: #fde9e9;
    border-radius: 8px;
    & > p {
      color: #f44848 !important;
    }
    & > img {
      filter: invert(53%) sepia(87%) saturate(2987%) hue-rotate(329deg) brightness(94%) contrast(103%);
    }
    &::after{
    color: #f44848 !important;
    }
  }
  position: relative;
  &::after{
    content: " ";
    position: absolute;
    right: 0.5rem;
    top: 0;
    height: 3.06rem;
    width: 4px;
    border-radius: 5px 0 0 5px;
    background-color: #f44848;
  }
}

.main-content {
  .add-employee {
    h2 {
      font-weight: 600;
    }
    button {
      padding: 0.7rem 1rem;
    }
  }
  .cards {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: space-evenly;
    p {
      color: #62798f;
    }
    .card {
      width: 20.625rem;
      padding: 1rem;
      box-shadow: 0 0 0 2px #e6e6e6;
      border-radius: 0.625rem;
      .text-icon {
        display: flex;
        justify-content: space-between;
        p {
          color: black;
          font-size: 1.1rem;
          font-weight: bold;
          margin: 0.7rem 0rem;
        }
      }
      .about {
        .department,
        .location {
          display: flex;
          justify-content: space-between;
          p {
            font-size: 1rem;
            margin: 0.4rem;
          }
          .department-text,
          .location-text {
            display: flex;
            gap: 0.5rem;
            align-items: center;
          }
        }
        .total-employees {
          display: flex;
          justify-content: space-between;
          align-items: center;
          img {
            height: 1.25rem;
            width: 1.25rem;
            border-radius: 50%;
            position: relative;
          }
          .img-container {
            display: flex;
            position: relative;
            left: 1.875rem;
            img:first-child {
              z-index: 1;
            }
            img:nth-child(2) {
              z-index: 2;
              right: 0.625rem;
            }
            img:nth-child(3) {
              z-index: 3;
              right: 1.25rem;
            }
            img:nth-child(4) {
              z-index: 4;
              right: 1.875rem;
            }
            p {
              z-index: 5;
              font-size: 0.75rem;
              position: relative;
              margin: 0;
              border-radius: 50%;
              background-color: #fff;
              color: #4c5f71;
              text-align: center;
              right: 2.5rem;
            }
          }
        }
      }
      .employee-view {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 0.625rem;
        a {
          text-decoration: none;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
.add-role-section {
  display: none;
  h3 {
    margin: 1.5rem 0rem 0rem;
  }

  form {
    & > div {
      display: flex;
      gap: 3rem;
    }
    .label-input-wrapper {
      margin-top: 0.9rem;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
    }
    label {
      color: #494a4b;
      font-weight: 600;
      font-size: 0.9rem;
    }
    input {
      outline: none;
      padding: 0.5rem;
      border: 1px solid rgba(54, 53, 53, 0.185);
      border-radius: 5px;
      width: 13rem;
    }
    input:focus,
    select:focus,
    textarea:focus {
      border: 2px solid #4c9aff;
    }
    select {
      border: 1px solid rgba(54, 53, 53, 0.185);
      border-radius: 5px;
      outline: none;
      padding: 0.5rem;
      color: #414447;
      width: 14rem;
      background-color: #f4f5f7;
    }
    textarea {
      max-width: 31rem;
      outline: none;
      border: 1px solid rgba(54, 53, 53, 0.185);
      border-radius: 5px;
      color: #414447;
      background-color: #f4f5f7;
    }
    #Location {
      width: 23rem;
    }

    #assign-employees {
      width: 22rem;
      background-image: url(../../src/assets/down-arrow.svg);
      background-repeat: no-repeat;
      background-position: 21.875rem, 1.5625rem;
    }

    #AddRoleFormWrapper {
      padding: 0rem 0.3rem;
      scrollbar-color: white white;
      scrollbar-width: thin;
      margin-top: 0.5rem;
      overflow-y: scroll;
      height: 9.0625rem;
      width: 23rem;
      .employee-row {
        margin: 0.5rem 0rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0.5rem;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.24);
        div {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          img {
            height: 1.875rem;
            width: 1.875rem;
            border-radius: 50%;
          }
          p {
            margin: 0;
            font-size: 0.8rem;
          }
        }
        input {
          width: 1rem;
        }
      }
    }

    & > div:last-child {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      button {
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        &:first-child {
          background-color: rgba(253, 233, 233, 1);
          color: #ff4a4a;
        }
        &:nth-child(2) {
          background-color: #fd3535;
          cursor: pointer;
          color: #fff;
        }
      }
    }
  }
}
@media screen and (max-width: 792px) {
  form {
    & > div {
      flex-direction: column;
    }
    .buttons-section {
      flex-direction: row;
    }
  }
}
